{% extends 'base.html.twig' %}

{% block title %}Hello WM!{% endblock %}

{% block body %}
    {% include('inc/navbarWM.html.twig') %}
    <script src="{{ asset('js/change_progress_bar_class.js') }}"></script>


    {% if categories %}
        {% for category in categories %}
            <div class="column left">
                <p>{{ category.name }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% if wishmaps %}
        <div class="row column right" id="card">
            {% for wishmap in wishmaps %}
                <div class="col-3">
                    <div class="card" id="card-body">
                        <div class="card-body">
                            {% if wishmap.image is not null %}
                                <img class="card-img-top" style="max-width: 100%; height: auto"
                                     src="{{ asset('uploads/wish_map_images/' ~ wishmap.image) }}"
                                     alt="Card image cap">
                            {% endif %}
                            {% for category in categories %}
                                {% if category.id == wishmap.id %}
                                    <p class="card-text category">{{ category.name }}</p>
                                {% endif %}
                            {% endfor %}
                            <div class="progress">
                                <div id="progress-bar" role="progressbar"
                                     style="width: {{ wishmap.process }}%;" aria-valuenow="{{ wishmap.process }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <span>{{ wishmap.process }}%</span>
                                </div>
                            </div>
                            <p class="card-text description">{{ wishmap.description }}</p>
                            <div class="row">
                                {% if (wishmap.startDate) %}
                                    <label>Start date:</label>
                                    <p class="card-text"
                                       style="margin-left:10px ">{{ wishmap.startDate|date('d-m-Y')|e }}</p>
                                {% endif %}
                                <label style="margin-left:10px ">Finish date:</label>
                                <p class="card-text"
                                   style="margin-left:10px ">{{ wishmap.finishDate|date('d-m-Y') }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>You have no WISHES!</p>
    {% endif %}

    <div class="someclass">{{ knp_pagination_render(wishmaps) }}</div>

{% endblock %}