{% extends 'base.html.twig' %}

{% block title %}Hello WM!{% endblock %}

{% block body %}
    <script src="js/change_progress_bar_class.js"></script>
    {% include('inc/navbarWM.html.twig') %}


    <div class="column left">
        {% if categories %}
        <p class="h3 category-main">Categories:</p>
        {% for category in categories %}
            <p class="h5 category">{{ category.name }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if wishmaps %}
        <div class="row column right" id="card">
            {% for wishmap in wishmaps %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            {% if wishmap.image %}
                                <img class="card-img-top" style="max-width: 100%; height: auto"
                                     src="{{ asset('uploads/wish_map_images/' ~ wishmap.image) }}"
                                     alt="Card image cap">
                            {% endif %}

                            {% if wishmap.category_id %}
                                {% for category in categories %}
                                    {% if category.id == wishmap.category_id %}
                                        <p class="card-text description">{{ category.name }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <div class="progress">
                                <div id="progress-bar" role="progressbar"
                                     style="width: {{ wishmap.process }}%;" aria-valuenow="{{ wishmap.process }}"
                                     aria-valuemin="0" aria-valuemax="100">{{ wishmap.process }}%
                                </div>
                            </div>
                            <p class="card-text description">{{ wishmap.description }}</p>
                            <div class="row">
                                <label>Start date:</label>
                                {% if (wishmap.startDate is null) %}
                                    <p class="card-text"
                                       style="margin-left:10px "> --- </p>
                                {% else %}
                                    <p class="card-text"
                                       style="margin-left:10px ">{{ wishmap.startDate|date('d-m-Y')|e }}</p>
                                {% endif %}
                                <label style="margin-left:10px ">Finish date:</label>
                                <p class="card-text"
                                   style="margin-left:10px ">{{ wishmap.finishDate|date('d-m-Y') }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>You have no WISHES!</p>
    {% endif %}


    <div class="someclass">{{ knp_pagination_render(wishmaps) }}</div>

    <script src="js/person_search.js"></script>
{% endblock %}