{% extends 'base.html.twig' %}

{% block title %}Hello WM!{% endblock %}

{% block body %}
    {% include('inc/navbarWM.html.twig') %}
    <script src="{{ asset('js/change_progress_bar_class.js') }}"></script>
    <script src="{{ asset('js/delete_wm.js') }}"></script>
    <script src="{{ asset('js/delete_category.js') }}"></script>

    {% if user %}
        <div class="column left">
            <p>{{ user.nickname }}</p>
            {% if user.avatar is not null %}
                <img class="card-img-top" style="max-width: 200px; height: 200px"
                     src="{{ asset('uploads/wish_map_images/' ~ user.avatar) }}"
                     alt="Card image cap">
            {% endif %}
            <p>{{ user.profileDescription }}</p>
            <div>{{ knp_pagination_render(wishmaps) }}</div>
        </div>
    {% endif %}
    {% if error|length != 0 %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if wishmaps %}
        <div class="row column right" id="card">
            {% for wishmap in wishmaps %}
                <div class="col-sm-3">
                    <div class="card" id="card-body">
                        <div class="card-body">
                            <p class="card-text category">{{ wishmap.name }}</p>
                            {% if wishmap.image is not null %}
                                <img class="card-img-top" style="max-width: 100%; height: auto"
                                     src="{{ asset('uploads/wish_map_images/' ~ wishmap.image) }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="progress" style="margin-top: 6px">
                                <div id="progress-bar" role="progressbar"
                                     style="width: {{ wishmap.progress }}%;" aria-valuenow="{{ wishmap.progress }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <span>{{ wishmap.progress }}%</span>
                                </div>
                            </div>
                            {% if wishmap.category is not null %}
                                <p class="card-text category">{{ wishmap.category.name }}</p>
                            {% endif %}

                            <p class="card-text description">{{ wishmap.description }}</p>
                            <div class="row">
                                {% if (wishmap.startDate) %}
                                    <label>Start date:</label>
                                    <p class="card-text"
                                       style="margin-left:10px ">{{ wishmap.startDate|date('d-m-Y')|e }}</p>
                                {% endif %}
                                <label style="margin-left:10px ">Finish date:</label>
                                <p class="card-text"
                                   style="margin-left:10px ">{{ wishmap.finishDate|date('d-m-Y') }} </p>
                            </div>
                        </div>
                        <a class="btn btn-outline-primary margin" href="/wishmap/update/{{ wishmap.id }}">Update</a>
                        <div>
                            <a class="btn btn-outline-danger margin" id="delete-wishmap" data-id="{{ wishmap.id }}">
                                Archive</a>
                            <a class="btn btn-outline-danger margin" id="delete-wishmap" data-id="{{ wishmap.id }}">
                                Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>You have no WISHES!</p>
    {% endif %}


{% endblock %}