{% extends 'base.html.twig' %}

{% block title %}All wish maps{% endblock %}

{% block body %}
    {% include('inc/navbarWM.html.twig') %}
    <script src="{{ asset('js/change_progress_bar_class.js') }}"></script>

    <div class="column left">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"><a class="category-main" href="/wishmap/all">Categories:</a></th>
            </tr>
            </thead>
            {% if wmCategoryCounter %}
                <tbody>
                {% for wmcateg in wmCategoryCounter %}
                    <tr>
                        <td><a class="category" href="/wishmap/all/category/{{ wmcateg.name }}">{{ wmcateg.name }}
                            </a></td>
                        <td><span style=" display: inline-block; width: 35px; height: 25px; border: 1px solid #FFFFFF;text-align: center;">
                        {{ wmcateg.count }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
        <div>{{ knp_pagination_render(wishmaps) }}</div>
    </div>

    {% if wishmaps %}
        <div class="row column right" id="card">
            {% for wishmap in wishmaps %}
                <div class="col-sm-3">
                    <div class="card" id="card-body">
                        <div class="card-body">
                            <p class="card-text category">{{ wishmap.name }}</p>
                            {% if wishmap.image is not null %}
                                <img class="card-img-top" style="max-width: 100%; height: auto"
                                     src="{{ asset('uploads/wish_map_images/' ~ wishmap.image) }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="progress" style="margin-top: 6px">
                                <div id="progress-bar" role="progressbar"
                                     style="width: {{ wishmap.progress }}%;" aria-valuenow="{{ wishmap.progress }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <span>{{ wishmap.progress }}%</span>
                                </div>
                            </div>
                            {% if wishmap.category is not null %}
                                <p class="card-text category">{{ wishmap.category.name }}</p>
                            {% endif %}

                            <p class="card-text description">{{ wishmap.description }}</p>
                            <div class="row">
                                {% if (wishmap.startDate) %}
                                    <label>Start date:</label>
                                    <p class="card-text"
                                       style="margin-left:10px ">{{ wishmap.startDate|date('d-m-Y')|e }}</p>
                                {% endif %}
                                <label style="margin-left:10px ">Finish date:</label>
                                <p class="card-text"
                                   style="margin-left:10px ">{{ wishmap.finishDate|date('d-m-Y') }} </p>
                            </div>
                        </div>
                        <a class="btn btn-outline-warning" href="/wishmap/take-a-card/{{ wishmap.id }}">
                            Take a card</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>NO WISHES TO DISPLAY!</p>
    {% endif %}


{% endblock %}