{% extends 'base.html.twig' %}

{% block title %}All wish maps{% endblock %}

{% block body %}
    {{ include('inc/navbarBack.html.twig') }}
    <script src="{{ asset('js/change_progress_bar_class.js') }}"></script>

    <div class="column left">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"><a class="category-list" href="/wishmap/all">Categories:</a></th>
            </tr>
            </thead>
            {% if wmCategoryCounter %}
                <tbody>
                {% for wmcateg in wmCategoryCounter %}
                    <tr>
                        <td><a class="category" href="/wishmap/all/category/{{ wmcateg.name }}">{{ wmcateg.name }}
                            </a></td>
                        <td><span class="category-count">
                        {{ wmcateg.count }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
        <div>{{ knp_pagination_render(wishmaps) }}</div>
    </div>

    {% if wishmaps %}
        <div class="row column right" id="card">
            {% for wishmap in wishmaps %}
                <div class="col-sm-3">
                    <div class="card" id="card-body">
                        <div class="card-body">
                            <p class="card-text wishmap-name">{{ wishmap.wm_name }}</p>
                            {% if wishmap.wm_image is not null %}
                                <img class="card-img-top wishmap-image"
                                     src="{{ asset('uploads/wish_map_images/' ~ wishmap.wm_image) }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="progress wishmap-progress-margin">
                                <div id="progress-bar" role="progressbar"
                                     style="width: {{ wishmap.wm_progress }}%;"
                                     aria-valuenow="{{ wishmap.wm_progress }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <span class="wishmap-body-font">{{ wishmap.wm_progress }}%</span>
                                </div>
                            </div>
                            <p class="card-text btn-info wishmap-category">{{ wishmap.c_name }}</p>
                            <p class="card-text wishmap-body-font">{{ wishmap.wm_description }}</p>
                            <div class="row">
                                <label class="wishmap-body-font">Start date:</label>
                                <p class="card-text wishmap-body-font">
                                    {{ wishmap.wm_startDate|date('d-m-Y')|e }}</p>
                                <label class="wishmap-body-font">Finish date:</label>
                                <p class="card-text wishmap-body-font"
                                >{{ wishmap.wm_finishDate|date('d-m-Y') }} </p>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-outline-warning wishmap-comment-update-button"
                               href="{{ path('wish_map_take_card',{ id: wishmap.wm_id }) }}">
                                Take a card</a>
                            <a href="{{ path('comments_show',{ wishmapId: wishmap.wm_id }) }}" class="wishmap-comments"><img
                                        class="card-img-top wishmap-comments-image"
                                        src="{{ asset('uploads/fi-xtluxl-comment-square-thin.png') }}"
                                        alt="comments">
                            </a>
                            <span class="wishmap-body-font">{{ wishmap.count }}</span></div>

                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>NO WISHES TO DISPLAY!</p>
    {% endif %}


{% endblock %}