{#
Displays comments on chose wish map card
Left side: wish map card
Center side: comments
Right sice: form to post comment
#}

{% extends 'base.html.twig' %}

{% block title %}Hello WM!{% endblock %}

{% block body %}
    {{ include('inc/navbarBack.html.twig') }}
    <script src="{{ asset('js/change_progress_bar_class.js') }}"></script>
    <script src="{{ asset('js/add_comment.js') }}"></script>
    <script src="{{ asset('js/delete_comment.js') }}"></script>

    <div class="comment-page-left">
        {% if wishmap %}
            <div class="col-md-auto">
                <div class="card" id="card-body">
                    <div class="card-body">
                        <p class="card-text wishmap-name">{{ wishmap.name }}</p>
                        {% if wishmap.image is not null %}
                            <img class="card-img-top wishmap-image"
                                 src="{{ asset('uploads/wish_map_images/' ~ wishmap.image) }}"
                                 alt="Card image cap">
                        {% endif %}
                        <div class="progress wishmap-progress-margin">
                            <div id="progress-bar" role="progressbar"
                                 style="width: {{ wishmap.progress }}%;"
                                 aria-valuenow="{{ wishmap.progress }}"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="wishmap-body-font">{{ wishmap.progress }}%</span>
                            </div>
                        </div>
                        <p class="card-text btn-info wishmap-category">{{ wishmap.category.name }}</p>
                        <p class="card-text wishmap-body-font">{{ wishmap.description }}</p>
                        <div class="row">
                            <label class="wishmap-body-font">Start date:</label>
                            <p class="card-text wishmap-body-font">{{ wishmap.startDate|date('d-m-Y')|e }}</p>
                            <label class="wishmap-body-font">Finish date:</label>
                            <p class="card-text wishmap-body-font">{{ wishmap.finishDate|date('d-m-Y') }} </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="comment-page-center">
        {% for message in app.flashes('info') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <p class="h4">Comments</p>
        {% if comments %}
            {% for comment in comments %}
                <div>
                    <p class="h5" class="comment-nickname">{{ comment.sendUser.nickname }}
                        <span class="comment-date">{{ comment.dateOfSend|date('d-m-Y H:i') }}</span>
                    </p>
                    <p class="comment-body">{{ comment.comment }}
                        <a href="#" id="delete-comment" data-id="{{ comment.id }}">Delete</a>
                    </p>
                </div>
            {% endfor %}
            <div>{{ knp_pagination_render(comments) }}</div>
        {% endif %}
    </div>
    <div class="comment-page-right">
        <form id="align-form">
            <div class="form-group">
                <p class="h5">Leave a comment</p>
                <label class="h6" for="message">Message
                    <textarea class="form-control comment-textarea" name="msg" id="msg" cols="30" rows="5">
                    </textarea></label>
            </div>
            <div class="form-group">
                <button type="button" id="post" class="btn btn-outline-warning" data-id="{{ wishmap.id }}">
                    Post Comment
                </button>
            </div>
        </form>
    </div>
{% endblock %}