<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map') }}">WISH MAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" method="post">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="user-search">
        </form>
        <a class="nav-link active" type="submit" href="{{ path('find_all_users') }}">Find all users</a>
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map_all') }}">Find all wish map cards</a>
    </div>

    <div class="collapse navbar-collapse">
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map_create') }}">Create wish map</a>
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map_archive') }}">Archive</a>
    </div>

    <div class="collapse navbar-collapse">
        <a class="nav-link active" aria-current="page" href="{{ path('profile_update') }}">Update profile</a>
        <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Logout</a>
    </div>
</nav>

