{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    {{ include('inc/navbarBack.html.twig') }}
    {% if users %}
        <table id="articles" class="table table-stripped">
            <thead>
            <tr>
                <th>№</th>
                <th>Nickname</th>
            </tr>
            </thead>
            <tbody>
            {% for i,user in users %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>
                        <a href="{{ path('wish_map', {user:user.nickname}) }}">{{ user.nickname }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="paginator">{{ knp_pagination_render(users) }}</div>
    {% else %}
        <p>no data</p>
    {% endif %}

{% endblock %}