{#
    Updating user profile
#}
{% extends 'base.html.twig' %}

{% block title %}Update profile{% endblock %}

{% block body %}
    <div class="form-group mx-sm-3 mb-2" id="firstStage">
        {{ form_start(form) }}
        {{ form_row(form.nickname) }}
        {{ form_row(form.avatar) }}
        {{ form_row(form.profileDescription) }}
        {{ form_row(form.isPrivate) }}
        {{ form_end(form) }}
    </div>
{% endblock %}